@use 'sass:map';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'base/typography' as *;

footer {
  margin: 0 auto;
  border-top: 1px solid $color-sys-surface-variant;
  ul li a {
    color: $color-sys-on-surface;
    &:hover {
      color: $color-sys-primary;
    }
  }
}
