<footer class="footer flex flex-col lg:flex-row justify-center items-center">
  <div class="container flex flex-col lg:flex-row justify-start lg:justify-center items-start gap-6 py-6 px-12">
    <div class="flex-1">Yoan Martoglio - Tous droits réservés</div>
    <div class="flex-1">
      <ul class="list-none flex flex-col gap-0">
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
        <li><a href="#">RGAA</a></li>
      </ul>
    </div>
    <div class="flex-1">
      <app-social-link></app-social-link>
    </div>
    <div class="flex-1">
      Design <a href="https://www.linkedin.com/in/yoan-martoglio/" target="_blank" rel="noopener noreferrer">Yoan
        Martoglio</a>
    </div>
  </div>
</footer>