<mat-toolbar color="primary" class="yo">
  <!-- Add logo-name component -->
  <app-logo-name></app-logo-name>

  <!-- Add navigation -->
  <nav class="navigation" role="navigation" aria-label="Navigation principale">
    <ul class="navigation-list">
      <li class="navigation-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navigation-link"
          aria-label="Accueil">Accueil</a>
      </li>
      <li class="navigation-item">
        <a routerLink="/projets" routerLinkActive="active" class="navigation-link" aria-label="Projets">Projets</a>
      </li>
      <li class="navigation-item">
        <a routerLink="/expertises" routerLinkActive="active" class="navigation-link"
          aria-label="Expertises">Expertises</a>
      </li>
      <li class="navigation-item">
        <a routerLink="/contact" routerLinkActive="active" class="navigation-link" aria-label="Contact">Contact</a>
      </li>
    </ul>
  </nav>
  <app-social-link></app-social-link>
</mat-toolbar>