<header>
  <mat-toolbar color="primary" class="flex flex-col! lg:flex-row h-full! lg:h-[170px]">
    <div class="flex flex-row"><!-- Add logo-name component -->
      <app-logo-name class="w-full! lg:w-auto"></app-logo-name>
      <!-- Add navigation -->
      <nav class="navigation hidden lg:flex justify-center items-center gap-3" role="navigation"
        aria-label="Navigation principale">
        <ul class="navigation-list">
          <li class="navigation-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              class="navigation-link" aria-label="Accueil">Accueil</a>
          </li>
          <li class="navigation-item">
            <a routerLink="/projets" routerLinkActive="active" class="navigation-link" aria-label="Projets">Projets</a>
          </li>
          <li class="navigation-item">
            <a routerLink="/expertises" routerLinkActive="active" class="navigation-link"
              aria-label="Expertises">Expertises</a>
          </li>
          <li class="navigation-item">
            <a routerLink="/contact" routerLinkActive="active" class="navigation-link" aria-label="Contact">Contact</a>
          </li>
        </ul>
      </nav>
      <app-social-link></app-social-link>
    </div>
    <button mat-fab aria-label="Menu" class="md:hidden!">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>
</header>