// ======================================
//   ORGANISMS / HOME SKILLS
//   - Home skills section styles
// ======================================

@use 'sass:map';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use '@angular/material' as mat;
@use 'base/typography' as *;

.home-skills {
  background-color: $color-sys-surface-container;
  background-image: url('../../../../assets/images/code-lines-bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
mat-card {
  background-color: map.get($color-primary, 95);
  border-bottom: 15px solid map.get($color-primary, 50);
  width: 100%;
  @include media-query(tablet-plus) {
    width: auto;
  }
  &:last-child {
    border-bottom: 15px solid map.get($color-error, 70);
  }
  &-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
mat-card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-2;
  .mat-card-title-icon {
    font-size: $font-size-4;
    color: map.get($color-primary, 10);
  }
  .mat-card-title-text {
    font-size: $font-size-2;
    color: map.get($color-primary, 10);
  }
}
mat-card-subtitle {
  color: map.get($color-primary, 10);
}
