// ======================================
//   TYPOGRAPHY
//   - Typography styles
// ======================================

@use 'variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// --------------- Typography mixin --------------- */
// Create a mixin for typographies with arguments for the name of the typography and tracking, and optionally if it is an emphasis

@mixin typo($name, $size, $emphasis: false) {
  @if $emphasis {
    font-family: $font-family-ibm-plex-mono;
    font-size: var(--mat-sys-#{$name}-#{$size}-size);
    line-height: var(--mat-sys-#{$name}-#{$size}-line-height);
    font-weight: var(--mat-sys-#{$name}-#{$size}-weight);
    letter-spacing: var(--mat-sys-#{$name}-#{$size}-tracking);
  } @else {
    font: var(--mat-sys-#{$name}-#{$size});
    letter-spacing: var(--mat-sys-#{$name}-#{$size}-tracking);
  }
}

// Font-size mixin
@mixin font-size($size) {
  font-size: $size * 1px;
}

// Media query mixin
@mixin media-query($breakpoint) {
  @if $breakpoint == mobile {
    $max-mobile: $breakpoint-mobile - 1px;
    @media (max-width: $max-mobile) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    $min-tablet: $breakpoint-mobile;
    $max-tablet: $breakpoint-desktop - 1px;
    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: $breakpoint-desktop) {
      @content;
    }
  }
}
