// ======================================
//   ATOMS / LOGO NAME
//   - Logo name styles
// ======================================

@use 'sass:map';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'base/typography' as *;

:host a.logo-name-link {
  text-decoration: none;

  .picto {
    width: 32px;
    height: 16px;
    @include media-query(tablet) {
      width: 48px;
      height: 24px;
    }
    @include media-query(desktop) {
      width: 52px;
      height: 28px;
    }
  }

  .logo-name {
    color: $color-sys-on-surface;
    @include typo('title', 'medium', $emphasis: true);
    @include media-query(tablet) {
      @include typo('headline', 'medium', $emphasis: true);
    }
    @include media-query(desktop) {
      @include typo('headline', 'large', $emphasis: true);
    }
    text-decoration: none;
  }
}
