// ======================================
//   ATOMS / LOGO NAME
//   - Logo name styles
// ======================================

@use 'sass:map';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'base/typography' as *;

:host a.logo-name-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-1;
  text-decoration: none;

  .picto {
    width: 52px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-name {
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include typo('headline', 'large', $emphasis: true);
    text-decoration: none;
  }
}
