/* --------------- Typography --------------- */
@use '_variables.scss';
@use '_mixins.scss';

bg-text-u {
  font-family: variables.$font-families-ubuntu;
  font-weight: variables.$font-weights-ubuntu-0;
  line-height: variables.$line-heights-0;
  font-size: variables.$font-size-6;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-capitalize;
  text-decoration: variables.$text-decoration-none;
}

number-m {
  font-family: variables.$font-families-ibm-plex-mono;
  font-weight: variables.$font-weights-ibm-plex-mono-1;
  line-height: variables.$line-heights-1;
  font-size: variables.$font-size-5;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-capitalize;
  text-decoration: variables.$text-decoration-none;
}

h1-u {
  font-family: variables.$font-families-ubuntu;
  font-weight: variables.$font-weights-ubuntu-0;
  line-height: variables.$line-heights-2;
  font-size: variables.$font-size-5;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-none;
  text-decoration: variables.$text-decoration-none;
}

h2-m {
  font-family: variables.$font-families-ibm-plex-mono;
  font-weight: variables.$font-weights-ibm-plex-mono-1;
  line-height: variables.$line-heights-3;
  font-size: variables.$font-size-4;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-capitalize;
  text-decoration: variables.$text-decoration-none;
}

h2-u {
  font-family: variables.$font-families-ubuntu;
  font-weight: variables.$font-weights-ubuntu-0;
  line-height: variables.$line-heights-4;
  font-size: variables.$font-size-4;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-none;
  text-decoration: variables.$text-decoration-none;
}

logo-m {
  font-family: variables.$font-families-ibm-plex-mono;
  font-weight: variables.$font-weights-ibm-plex-mono-1;
  line-height: variables.$line-heights-3;
  font-size: variables.$font-size-4;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-none;
  text-decoration: variables.$text-decoration-none;
}

button-u {
  font-family: variables.$font-families-ubuntu;
  font-weight: variables.$font-weights-ubuntu-0;
  line-height: variables.$line-heights-7;
  font-size: variables.$font-size-2;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-capitalize;
  text-decoration: variables.$text-decoration-none;
}

article-u {
  font-family: variables.$font-families-ubuntu;
  font-weight: variables.$font-weights-ubuntu-3;
  line-height: variables.$line-heights-6;
  font-size: variables.$font-size-1;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-none;
  text-decoration: variables.$text-decoration-none;
}

media-m {
  font-family: variables.$font-families-ibm-plex-mono;
  font-weight: variables.$font-weights-ibm-plex-mono-2;
  line-height: variables.$line-heights-9;
  font-size: variables.$font-size-1;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-capitalize;
  text-decoration: variables.$text-decoration-none;
}

menu-m {
  font-family: variables.$font-families-ibm-plex-mono;
  font-weight: variables.$font-weights-ibm-plex-mono-2;
  line-height: variables.$line-heights-9;
  font-size: variables.$font-size-1;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-capitalize;
  text-decoration: variables.$text-decoration-none;
}

para-m {
  font-family: variables.$font-families-ibm-plex-mono;
  font-weight: variables.$font-weights-ibm-plex-mono-2;
  line-height: variables.$line-heights-9;
  font-size: variables.$font-size-1;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-capitalize;
  text-decoration: variables.$text-decoration-none;
}

para-u {
  font-family: variables.$font-families-ubuntu;
  font-weight: variables.$font-weights-ubuntu-3;
  line-height: variables.$line-heights-11;
  font-size: variables.$font-size-1;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-none;
  text-decoration: variables.$text-decoration-none;
}

code-m {
  font-family: variables.$font-families-ibm-plex-mono;
  font-weight: variables.$font-weights-ibm-plex-mono-2;
  line-height: variables.$line-heights-11;
  font-size: variables.$font-size-0;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-none;
  text-decoration: variables.$text-decoration-none;
}

label-u-m {
  font-family: variables.$font-families-ubuntu;
  font-weight: variables.$font-weights-ubuntu-4;
  line-height: variables.$line-heights-13;
  font-size: variables.$font-size-0;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-capitalize;
  text-decoration: variables.$text-decoration-none;
}

label-u-l {
  font-family: variables.$font-families-ubuntu;
  font-weight: variables.$font-weights-ubuntu-3;
  line-height: variables.$line-heights-13;
  font-size: variables.$font-size-0;
  letter-spacing: variables.$letter-spacing-0;
  text-indent: variables.$paragraph-indent-0;
  text-transform: variables.$text-case-capitalize;
  text-decoration: variables.$text-decoration-none;
}
