<section class="home-hero pt-16 pb-32">
  <div class="container">
    <div class="home-hero-bg-text pb-16">
      <h1>Front-end / Intégration / UI design</h1>
    </div>

    <div class="home-hero-content">
      <app-profile-card></app-profile-card>

      <div class="home-hero-right">
        <div class="home-hero-info">
          <div class="home-hero-title">
            <div class="title-text">
              <p class="title-name">
                <span class="accent">Yoan Martoglio</span>,
              </p>
              <div class="title-identity">
                <p class="title-role">Développeur front-end</p>
              </div>
            </div>
          </div>

          <div class="home-hero-para">
            <div class="para-text">
              <p>15 ans d'expertise en intégration web, Design System et accessibilité.</p>
              <p>Je conçois des interfaces performantes avec Angular et Vue.js, dans une démarche Agile et centrée
                utilisateur.</p>
            </div>

            <div class="home-hero-cta">
              <span class="cta-link">Me contacter</span>
              <app-button-fab routerLink="/contact" icon="mail" ariaLabel="Aller sur la page de contact"
                (clicked)="onFabClick()" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>