// ======================================
//   ORGANISMS / HOME HERO
//   - Home hero section styles
// ======================================

@use 'sass:map';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use '@angular/material' as mat;
@use 'base/typography' as *;

.home-hero {
  background-color: $color-sys-surface-container;

  .home-hero-right {
    .home-hero-info {
      .home-hero-title {
        .title-text {
          .title-name {
            color: $color-sys-on-surface;
            @include typo('headline', 'large');
            @include media-query(tablet) {
              @include typo('display', 'medium');
            }
            @include media-query(desktop) {
              @include typo('display', 'medium');
            }

            .accent {
              color: $color-sys-primary;
            }
          }

          .title-role {
            color: $color-sys-on-surface;
            @include typo('headline', 'large');
            @include media-query(tablet) {
              @include typo('display', 'medium');
            }
            @include media-query(desktop) {
              @include typo('display', 'medium');
            }
          }
        }
      }

      .home-hero-description {
        .description-text {
          p {
            @include typo('body', 'large');
            color: $color-sys-on-surface;
            margin: 0 0 $spacing-4 0;
          }
        }

        .home-hero-cta {
          .cta-text {
            text-transform: capitalize;
            color: $color-sys-primary;
            text-decoration: none;
            @include typo('headline', 'small');
            @include media-query(tablet) {
              @include typo('headline', 'medium');
            }
            @include media-query(desktop) {
              @include typo('headline', 'medium');
            }
          }
        }
      }
    }
  }
}

:host {
  ::ng-deep {
    button.mat-mdc-mini-fab {
      :host-context(html.dark-theme) & {
        @include mat.fab-overrides(
          (
            small-container-color: $color-sys-primary,
            small-foreground-color: $color-sys-on-primary,
            container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5),
          )
        );
      }
      :host-context(html.light-theme) & {
        @include mat.fab-overrides(
          (
            //container-color: red,
            //foreground-color: red,
            small-container-color: $color-sys-primary,
            small-foreground-color: $color-sys-on-primary,
            container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5)
          )
        );
      }
    }
  }
}
