// ======================================
//   ORGANISMS / HOME WORKS
//   - Home works section styles
// ======================================

@use 'sass:map';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use '@angular/material' as mat;
@use 'base/typography' as *;

.home-works {
  background-color: $color-sys-surface-container-low;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
}
mat-grid-list {
  width: 100%;
}
mat-grid-tile {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
mat-grid-tile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

// Génération automatique des overlays colorés pour chaque projet
@each $key, $color in $color-works {
  mat-grid-tile.#{$key}::before {
    background-color: rgba($color, 0.5);
  }
}
