// ======================================
//   ATOMS / SOCIAL LINK
//   - Social link styles
// ======================================
@use 'sass:map';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'base/typography' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-8;
}

a {
  color: $color-white;
  text-decoration: none;
  @include typo('body', 'large', $emphasis: true);

  &:hover {
    color: $color-sys-primary;
  }

  fa-icon {
    color: $color-sys-primary;
    width: 20px;
    height: 20px;
  }
  .sr-only {
    margin-left: $spacing-2;
  }
}
