// ======================================
//   ATOMS / SOCIAL LINK
//   - Social link styles
// ======================================
@use 'sass:map';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'base/typography' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-4;
}

button {
  color: $color-sys-on-surface;
  text-decoration: none;
  display: inline-block;
  padding: $spacing-2;
  margin: $spacing-2;
  box-sizing: 0;
  position: relative;
  z-index: 1;
  vertical-align: middle;

  @include typo('body', 'large', $emphasis: true);

  &:hover {
    color: $color-sys-primary;
  }

  fa-icon {
    color: $color-sys-primary;
    width: 24px;
    height: 24px;
    font-size: 24px;
    z-index: 1;
    position: relative;
    min-height: fit-content;
    display: inline-block;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .sr-only {
    margin-left: $spacing-2;
  }
}
