<div class="profile-card">
  <div class="profile-content flex flex-col gap-8">
    <div class="profile-photo-name">
      <div class="profile-photo">
        <img ngSrc="assets/images/myself.png" alt="Yoan Martoglio" class="avatar" width="107" height="107" />
      </div>
      <div class="profile-name">
        <p class="name">Yoan Martoglio</p>
        <p class="title">Développeur front-end</p>
      </div>
    </div>

    <div class="profile-info">
      <div class="info-text">
        <div class="info-item">
          <span class="material-symbols-rounded">
            mail
          </span>
          <p>yoan.martoglio@gmail.com</p>
        </div>
        <div class="info-item">
          <span class="material-symbols-rounded">
            location_on
          </span>
          <p>Avignon, France</p>
        </div>
        <div class="info-item">
          <span class="material-symbols-rounded">
            work
          </span>
          <p>Full-time / Freelancer</p>
        </div>
        <div class="info-item">
          <fa-icon [icon]="faLinkedin" size="lg" aria-hidden="true"></fa-icon>
          <p><a href="https://linkedin.com/in/yoan-martoglio" target="_blank"
              rel="noopener noreferrer">linkedin.com/in/yoan-martoglio</a></p>
        </div>
      </div>

      <div class="skills-labels">
        @for (skill of skills; track skill) {
        <div class="skill-badge">
          <p>{{ skill }}</p>
        </div>
        }
      </div>
    </div>

    <div class="profile-button">
      <app-button-extended-fab icon="link" color="primary-container" ariaLabel="Télécharger CV" text="Télécharger CV" />
    </div>
  </div>
</div>