// ======================================
//   MOLECULES / PROFILE CARD
//   - Profile card styles
// ======================================

@use 'sass:map';
@use '@angular/material' as mat;
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'base/typography' as *;

:host {
  border-radius: $border-radius-2;

  :host-context(html.dark-theme) & {
    background-color: $color-sys-surface-container-highest;
    border: 1px solid $color-sys-on-surface;
    box-shadow: -4px -4px 2px 0px $color-sys-primary, -5px -10px 30px 0 rgba(18, 247, 214, 0.3),
      5px 10px 30px 0 rgba(0, 0, 0, 0.5);
  }

  :host-context(html.light-theme) & {
    background-color: $color-sys-surface-container-low;
    border: 1px solid $color-sys-outline-variant;
    box-shadow: -4px -4px 2px 0px rgba(0, 221, 221, 0.5), -5px -10px 30px 0 rgba(9, 138, 119, 0.3),
      5px 10px 30px 0 rgba(0, 0, 0, 0.2);
  }
}
.profile-card {
  .profile-content {
    .profile-photo-name {
      .profile-photo {
        :host-context(html.dark-theme) & {
          border: 3px solid $color-sys-primary;
        }
        :host-context(html.light-theme) & {
          border: 3px solid $color-sys-primary-fixed-dim;
        }
      }

      .profile-name {
        .name {
          @include typo('headline', 'large');
          color: $color-sys-on-surface;
        }

        .title {
          @include typo('body', 'medium');
          color: $color-sys-on-surface;
        }
      }
    }

    .profile-info {
      .info-text {
        .info-item {
          display: flex;
          gap: $spacing-4;
          align-items: center;
          justify-content: flex-start;
          position: relative;
          width: 100%;

          .material-symbols-rounded,
          fa-icon {
            :host-context(html.dark-theme) & {
              color: $color-sys-primary-fixed;
            }
            :host-context(html.light-theme) & {
              color: map.get($color-primary, 80);
            }
          }

          p {
            @include typo('body', 'medium', $emphasis: true);
            color: $color-sys-on-surface;
            margin: 0;
            a {
              color: $color-sys-on-surface;
              text-decoration: none;
              &:hover {
                color: $color-sys-primary-fixed;
              }
            }
          }
        }
      }

      .skills-labels {
        .skill-badge {
          :host-context(html.dark-theme) & {
            background-color: $color-sys-primary-fixed;
          }
          :host-context(html.light-theme) & {
            background-color: map.get($color-primary, 80);
          }
          p {
            @include typo('body', 'medium', $emphasis: true);
            color: $color-sys-on-primary-fixed;
          }
        }
      }
    }
  }
}

:host {
  ::ng-deep {
    app-button-extended-fab {
      width: 100% !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      :host-context(html.dark-theme) & {
        @include mat.fab-overrides(
          (
            container-color: $color-sys-primary-fixed,
            foreground-color: $color-sys-on-primary-fixed,
            container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5),
          )
        );
      }
      :host-context(html.light-theme) & {
        @include mat.fab-overrides(
          (
            container-color: map.get($color-primary, 80),
            foreground-color: $color-sys-on-primary-fixed,
            container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5),
          )
        );
      }

      @include media-query(tablet-plus) {
        width: auto !important;
        display: flex !important;
      }
    }
    .mat-mdc-button-base {
      width: 100% !important;
      @include media-query(tablet-plus) {
        width: auto !important;
      }
    }
  }
}
