// ======================================
//   MOLECULES / PROFILE CARD
//   - Profile card styles
// ======================================

@use 'sass:map';
@use '@angular/material' as mat;
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'base/typography' as *;

:host {
  background-color: map.get($color-background, bg1);
  border: 1px solid $color-white;
  position: relative;
  box-shadow: -4px -4px 2px 0px $color-sys-primary;
  z-index: $z-index-2;
  border-radius: $border-radius-2;
}
.profile-card {
  .profile-content {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding: $spacing-6;
    width: 100%;

    .profile-photo-name {
      display: flex;
      flex-direction: column;
      gap: $spacing-4;
      align-items: center;
      position: relative;
      width: 100%;

      .profile-photo {
        border: 3px solid $color-sys-primary;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        position: relative;
        border-radius: 64px;
        width: 107px;
        height: 107px;

        .avatar {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 64px;
        }
      }

      .profile-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;

        .name {
          line-height: $line-heights-44;
          font-size: $font-size-4;
          color: $color-white;
          margin: 0;
        }

        .title {
          line-height: $line-heights-18;
          font-size: $font-size-0;
          color: $color-white;
          margin: 0;
        }
      }
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      gap: $spacing-4;
      align-items: flex-start;
      position: relative;
      width: 100%;

      .info-text {
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
        align-items: flex-start;
        position: relative;
        width: 100%;

        .info-item {
          display: flex;
          gap: $spacing-4;
          align-items: center;
          justify-content: flex-start;
          position: relative;
          width: 100%;

          .material-symbols-rounded,
          fa-icon {
            color: $color-sys-primary;
          }

          p {
            @include typo('body', 'medium', $emphasis: true);
            color: $color-white;
            margin: 0;
            a {
              color: $color-white;
              text-decoration: none;
              &:hover {
                color: $color-sys-primary;
              }
            }
          }
        }
      }

      .skills-labels {
        display: flex;
        gap: $spacing-4;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        width: 100%;

        .skill-badge {
          background-color: $color-sys-primary;
          box-sizing: border-box;
          display: flex;
          gap: $spacing-4;
          align-items: center;
          justify-content: center;
          padding: 0 $spacing-2;
          border-radius: $border-radius-2;
          position: relative;

          p {
            line-height: $line-heights-18;
            font-size: $font-size-0;
            color: map.get($color-background, bg1);
            margin: 0;
          }
        }
      }
    }

    .profile-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 100%;
      margin-top: auto;

      .download-button {
        background-color: $color-white;
        box-sizing: border-box;
        display: flex;
        gap: $spacing-4;
        align-items: center;
        justify-content: center;
        padding: $spacing-4 $spacing-8;
        border: none;
        border-radius: $border-radius-8;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: map.get($color-neutral, 50);
        }

        span {
          text-transform: capitalize;
          line-height: $line-heights-24;
          font-size: $font-size-2;
          color: map.get($color-background, bg1);
        }

        .icon-download {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
