// ======================================
//   ORGANISMS / HOME ABOUT
//   - Home about section styles
// ======================================

@use 'sass:map';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use '@angular/material' as mat;
@use 'base/typography' as *;

.home-about {
  :host-context(html.dark-theme) & {
    background-color: #002020;
    background-image: url('../../../../assets/images/home-about-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: difference;
  }
  :host-context(html.light-theme) & {
    background-color: $color-sys-surface-container-high;
  }
}
