// ======================================
//   MOLECULES / SIDE NAVIGATION
//   - Side navigation styles
// ======================================

@use 'sass:map';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

.side-navigation {
  position: absolute;
  background-color: map.get($color-background, bg2);
  border: 1px solid $color-white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
  align-items: flex-start;
  left: $spacing-16;
  padding: $spacing-2 $spacing-3;
  border-radius: 40px;
  top: $spacing-16;
  z-index: $z-index-3;

  .nav-item {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding: $spacing-2;
    border-radius: 40px;
    position: relative;
    text-decoration: none;
    transition: background-color 0.3s ease;

    .nav-icon {
      width: 24px;
      height: 24px;
      display: block;
    }

    &:hover {
      background-color: map.get($color-neutral, 400);
    }

    &.active {
      background-color: $color-white;

      .nav-icon {
        filter: brightness(0) saturate(100%) invert(16%) sepia(4%) saturate(2000%) hue-rotate(180deg) brightness(95%) contrast(90%);
      }
    }
  }
}

