<section class="home-contact py-32">
  <div class="container">
    <h2 class="section-title">Contact</h2>
  </div>

  <div class="container">
    <div class="flex justify-center items-center">
      <div class="w-full max-w-md">
        <h1 class="contact-title mb-4 text-center">Contactez-moi</h1>
        <p class="contact-subtitle mb-8 text-center">
          N'hésitez pas à me contacter pour discuter de vos projets.
        </p>

        <app-form-contact></app-form-contact>
      </div>
    </div>
  </div>

</section>