// ======================================
//   TYPOGRAPHY
//   - Typography styles
// ======================================

@use '../abstracts/variables' as *;

/* --------------- Typography classes --------------- */

// Baseline (Lato)

// Display Large
.typo-display-large {
  font: var(--mat-sys-display-large);
  letter-spacing: var(--mat-sys-display-large-tracking);
}

// Display Medium
.typo-display-medium {
  font: var(--mat-sys-display-medium);
  letter-spacing: var(--mat-sys-display-medium-tracking);
}

// Display Small
.typo-display-small {
  font: var(--mat-sys-display-small);
  letter-spacing: var(--mat-sys-display-small-tracking);
}

// Headline Large
.typo-headline-large {
  font: var(--mat-sys-headline-large);
  letter-spacing: var(--mat-sys-headline-large-tracking);
}

// Headline Medium
.typo-headline-medium {
  font: var(--mat-sys-headline-medium);
  letter-spacing: var(--mat-sys-headline-medium-tracking);
}

// Headline Small
.typo-headline-small {
  font: var(--mat-sys-headline-small);
  letter-spacing: var(--mat-sys-headline-small-tracking);
}

// Title Large
.typo-title-large {
  font: var(--mat-sys-title-large);
  letter-spacing: var(--mat-sys-title-large-tracking);
}

// Title Medium
.typo-title-medium {
  font: var(--mat-sys-title-medium);
  letter-spacing: var(--mat-sys-title-medium-tracking);
}

// Title Small
.typo-title-small {
  font: var(--mat-sys-title-small);
  letter-spacing: var(--mat-sys-title-small-tracking);
}

// Label Large
.typo-label-large {
  font: var(--mat-sys-label-large);
  letter-spacing: var(--mat-sys-label-large-tracking);
}

// Label Medium
.typo-label-medium {
  font: var(--mat-sys-label-medium);
  letter-spacing: var(--mat-sys-label-medium-tracking);
}

// Label Small
.typo-label-small {
  font: var(--mat-sys-label-small);
  letter-spacing: var(--mat-sys-label-small-tracking);
}

// Body Large
.typo-body-large {
  font: var(--mat-sys-body-large);
  letter-spacing: var(--mat-sys-body-large-tracking);
}

// Body Medium
.typo-body-medium {
  font: var(--mat-sys-body-medium);
  letter-spacing: var(--mat-sys-body-medium-tracking);
}

// Body Small
.typo-body-small {
  font: var(--mat-sys-body-small);
  letter-spacing: var(--mat-sys-body-small-tracking);
}

// Emphasis (IBM Plex Mono)

// Display Large Emphasis
.typo-display-large-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-display-large-size);
  line-height: var(--mat-sys-display-large-line-height);
  font-weight: var(--mat-sys-display-large-weight);
  letter-spacing: var(--mat-sys-display-large-tracking);
}

// Display Medium Emphasis
.typo-display-medium-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-display-medium-size);
  line-height: var(--mat-sys-display-medium-line-height);
  font-weight: var(--mat-sys-display-medium-weight);
  letter-spacing: var(--mat-sys-display-medium-tracking);
}

// Display Small Emphasis
.typo-display-small-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-display-small-size);
  line-height: var(--mat-sys-display-small-line-height);
  font-weight: var(--mat-sys-display-small-weight);
  letter-spacing: var(--mat-sys-display-small-tracking);
}

// Headline Large Emphasis
.typo-headline-large-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-headline-large-size);
  line-height: var(--mat-sys-headline-large-line-height);
  font-weight: var(--mat-sys-headline-large-weight);
  letter-spacing: var(--mat-sys-headline-large-tracking);
}

// Headline Medium Emphasis
.typo-headline-medium-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-headline-medium-size);
  line-height: var(--mat-sys-headline-medium-line-height);
  font-weight: var(--mat-sys-headline-medium-weight);
  letter-spacing: var(--mat-sys-headline-medium-tracking);
}

// Headline Small Emphasis
.typo-headline-small-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-headline-small-size);
  line-height: var(--mat-sys-headline-small-line-height);
  font-weight: var(--mat-sys-headline-small-weight);
  letter-spacing: var(--mat-sys-headline-small-tracking);
}

// Title Large Emphasis
.typo-title-large-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-title-large-size);
  line-height: var(--mat-sys-title-large-line-height);
  font-weight: var(--mat-sys-title-large-weight);
  letter-spacing: var(--mat-sys-title-large-tracking);
}

// Title Medium Emphasis
.typo-title-medium-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-title-medium-size);
  line-height: var(--mat-sys-title-medium-line-height);
  font-weight: var(--mat-sys-title-medium-weight);
  letter-spacing: var(--mat-sys-title-medium-tracking);
}

// Title Small Emphasis
.typo-title-small-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-title-small-size);
  line-height: var(--mat-sys-title-small-line-height);
  font-weight: var(--mat-sys-title-small-weight);
  letter-spacing: var(--mat-sys-title-small-tracking);
}

// Label Large Emphasis
.typo-label-large-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-label-large-size);
  line-height: var(--mat-sys-label-large-line-height);
  font-weight: var(--mat-sys-label-large-weight);
  letter-spacing: var(--mat-sys-label-large-tracking);
}

// Label Medium Emphasis
.typo-label-medium-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-label-medium-size);
  line-height: var(--mat-sys-label-medium-line-height);
  font-weight: var(--mat-sys-label-medium-weight);
  letter-spacing: var(--mat-sys-label-medium-tracking);
}

// Label Small Emphasis

// Body Large Emphasis
.typo-body-large-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-body-large-size);
  line-height: var(--mat-sys-body-large-line-height);
  font-weight: var(--mat-sys-body-large-weight);
  letter-spacing: var(--mat-sys-body-large-tracking);
}

// Body Medium Emphasis
.typo-body-medium-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-body-medium-size);
  line-height: var(--mat-sys-body-medium-line-height);
  font-weight: var(--mat-sys-body-medium-weight);
  letter-spacing: var(--mat-sys-body-medium-tracking);
}

// Body Small Emphasis
.typo-body-small-emphasis {
  font-family: $font-family-ibm-plex-mono;
  font-size: var(--mat-sys-body-small-size);
  line-height: var(--mat-sys-body-small-line-height);
  font-weight: var(--mat-sys-body-small-weight);
  letter-spacing: var(--mat-sys-body-small-tracking);
}

// --------------- Typography mixin --------------- */
// Create a mixin for typographies with arguments for the name of the typography and tracking, and optionally if it is an emphasis

@mixin typo($name, $size, $emphasis: false) {
  @if $emphasis {
    font-family: $font-family-ibm-plex-mono;
    font-size: var(--mat-sys-#{$name}-#{$size}-size);
    line-height: var(--mat-sys-#{$name}-#{$size}-line-height);
    font-weight: var(--mat-sys-#{$name}-#{$size}-weight);
    letter-spacing: var(--mat-sys-#{$name}-#{$size}-tracking);
  } @else {
    font: var(--mat-sys-#{$name}-#{$size});
    letter-spacing: var(--mat-sys-#{$name}-#{$size}-tracking);
  }
}
